<div class="dashboard-container">
  <app-header></app-header>
  
  <div class="dashboard-content">
    <mat-tab-group 
      [(selectedIndex)]="selectedTab"
      (selectedIndexChange)="onTabChange($event)"
      animationDuration="300ms"
      class="dashboard-tabs">
      
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>check_circle</mat-icon>
          Testes
        </ng-template>
        <app-tests-tab></app-tests-tab>
      </mat-tab>
      
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>description</mat-icon>
          Logs
        </ng-template>
        <app-logs-tab></app-logs-tab>
      </mat-tab>
      
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>account_tree</mat-icon>
          Git Flow
        </ng-template>
        <app-git-flow-tab></app-git-flow-tab>
      </mat-tab>
      
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>api</mat-icon>
          API Simulator
        </ng-template>
        <app-api-simulator-tab></app-api-simulator-tab>
      </mat-tab>
      
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>verified</mat-icon>
          Validação
        </ng-template>
        <app-validation-tab></app-validation-tab>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

